
&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

/* SPIM_SCK  = 1.15 */
/* SPIM_MISO = 1.14 */
/* SPIM_MOSI = 1.13 */

&arduino_spi {
    status = "okay";
    compatible = "nordic,nrf-spim";
    cs-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;
    clock-frequency = <4000000>;
    pinctrl-0 = <&spi4_default>;
    pinctrl-1 = <&spi4_sleep>;
    pinctrl-names = "default", "sleep";

	max3510x@0 {
		compatible = "maxim,max3510x";
		reg = <0>;
		spi-max-frequency = <4000000>;
        irq-gpios = <&gpio1 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        transducer-distance = <70>;
	};
};